.platform {
    background-color: pink;
    height: 80%;
}

.buttonSpace {
    height: 20%;
}

.generateButton {
    height: 100%;
    width: 80%;
    background-color: grey;
    float: left;
}

.blockSpace {
    width: 20%;
    height: 100%;
    background-color: white;
    float: left;
    position: relative;
}

.block {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: black;
    position: absolute;
}